* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font: 13px Helvetica, Arial;
}
html, body{
	height: 100%;
	overflow: hidden;
}
.red{
	color: red;
	text-decoration: underline;
}
.content-wrapper{
	width: 100%;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}
#guestNumber{
	height: 36px;
	line-height: 36px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}
#messages{
	height: calc(100% - 78px);
	overflow: auto;
}
#messages li{
	padding: 10px 0;
}
#messages li:nth-child(odd){
	background-color: #eee;
}
.message-wrapper{
	height: 42px;
	line-height: 42px;
	padding: 2px;
	background-color: #666;
}
.message-wrapper input{
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 75%;
}
.message-wrapper button{
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: calc(25% - 2px);
	margin-left: 2px;
	background-color: #317ef3;
	border: none;
	color: #fff;
}